main{
    font-family: $fuente-principal;
    h2{
        color: $oscuro;
        font-size: 2rem;
    }
    div{
        section{
            h3{
                color: $violeta;
            }
            .iconos{
                height: 10rem;
                width: 10rem;
                background-color: $naranja-clarito;
                border-radius: 50%;
            }
        }
    }
    #tecnologías{
        .row{
            margin: 0 auto;
            max-width: 50rem;         
        }
        img{
            max-width: 100px;
        }
    }
}