// Colores

$grisclaro: #dfe9f3;
$blanco: #ECF0F1;
$naranja-clarito: #FBAD38;
$naranja: #d96c03;
$oscuro: #1e1d00;
$rosa: #d6163f;
$violeta: #5d0128;

// Fuentes

$fuente-principal: Oswald, sans-serif;


